<div [formGroup]="form">
  <div class="col">
      <div class="form-group">
          <mat-form-field appearance="legacy" class="w-100">
              <input matInput [matDatepicker]="picker" placeholder="Data" maxlength="10" mask="00/00/0000">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
  </div>
</div>

<!-- Add formControlName="date" in input to show error  -->